body{
    background-color: #2424E3;
}

.encabezado{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.icono_bar{
    width: 60px;
    height: 40px;
}

.titulo{
    color: yellow;
    -webkit-text-stroke: 1.5px black;
    font: 32pt Segoe UI;
    font-weight: bold;
    line-height: 150px;
}

.boton{
    margin-top: 5px;
    text-align: center;
}

.boton-play{
    font-size: 28px;
    background-color: #434343;
    background-image: -webkit-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -moz-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -o-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -ms-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7A7A7A), to(#515151));

    border: none;
    border-top: 3px solid #c2c2c2;
    border-radius: 40px;

    box-shadow: inset 0 1px 2px rgba(255,255,255,0.2),
                0 1px 0 #2D2D2D,
                0 2px 0 #2D2D2D,
                0 3px 0 #2C2C2C,
                0 4px 0 #2A2A2A,
                0 0 0 6px black,
                0 4px 0 6px black,
                0 0 0 7px #222,
                0 4px 0 7px #222;

    padding: 10px 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    margin-right: 10px;
    text-decoration: none;
    color: #242424;
	
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.boton-play img {
    width: 30px;   
    height: 30px;
    border-radius: 5px;
}

.boton-play:active {
    border-top: 0px solid #dde1e7; /* Borde */
    /* Sombra del botón*/
    -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222,0px 0px 5px #00aeff,0px 0px 50px #00aeff,0px 0px 50px #93d9fa;
    -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222,0px 0px 5px #00aeff,0px 0px 50px #00aeff,0px 0px 50px #93d9fa;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222,0px 0px 5px #00aeff,0px 0px 50px #00aeff,0px 0px 50px #93d9fa;
    /* Reubicación del botón */
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
}

.boton-play:hover {
    color: #00aeff; /* Color del texto */
    text-shadow: -1px -1px 1px #000; /* Sombra del texto */
}

#mesa {
	position: absolute;  
	top: 350px;  

    left: 50%; 
    transform: translateX(-50%);
    width: 80%; 
    min-height: 200px;
    margin: 20px auto; 
	
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1), 0px 3px 15px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1), 0px 3px 15px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1), 0px 3px 15px 2px rgba(0,0,0,1);
	
    border: 1px solid #5c5c5c;
    border-top: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.8); 

    background-image: repeating-linear-gradient(45deg, rgba(255,25,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);
    background-image: -webkit-repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);
    background-image: -moz-repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);
    background-image: -ms-repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);
    background-image: -o-repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);

    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    -o-background-size: 5px 5px;
    background-size: 5px 5px;

    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center; 

}

#mesa ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}