body{
    background: linear-gradient(135deg, #001f4d, #0073e6);
    height: 100vh;
    margin: 0;
}

.encabezado{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.icono_bar{
    width: 60px;
    height: 40px;
}

.titulo{
    color: yellow;
    -webkit-text-stroke: 1.5px black;
    font: 32pt Segoe UI;
    font-weight: bold;
    line-height: 130px;
}

.boton{
    margin-top: 2px;
    text-align: center;
}

.boton-play{
    font-size: 28px;
    background-color: #F4320B;
    background-image: none;

    border: none;
    border-top: 3px solid #c2c2c2;
    border-radius: 40px;

    box-shadow: inset 0 1px 2px rgba(255,255,255,0.2),
                0 1px 0 #2D2D2D,
                0 2px 0 #2D2D2D,
                0 3px 0 #2C2C2C,
                0 4px 0 #2A2A2A,
                0 0 0 6px black,
                0 4px 0 6px black,
                0 0 0 7px #222,
                0 4px 0 7px #222;

    padding: 10px 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    margin-right: 10px;
    text-decoration: none;
    color: white;
	
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.boton-play img {
    width: 30px;   
    height: 30px;
    border-radius: 5px;
}

.boton-play:active {
    transform: translateY(4px);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.4);
    border-top: 0;
}

.boton-play:hover {
    color: black; /* Color del texto */
    text-shadow: none; /* Sombra del texto */
}

#mesa {
	position: absolute;  
	top: 320px;  

    left: 50%; 
    transform: translateX(-50%);
    width: 80%; 
    min-height: 200px;
    margin: 20px auto; 
	
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1), 0px 3px 15px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1), 0px 3px 15px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1), 0px 3px 15px 2px rgba(0,0,0,1);
	
    border: 1px solid #5c5c5c;
    border-top: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.8); 

    background-image: repeating-linear-gradient(45deg, rgba(255,25,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);
    background-image: -webkit-repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);
    background-image: -moz-repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);
    background-image: -ms-repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);
    background-image: -o-repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 25%, transparent 25%, transparent 50%);

    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    -o-background-size: 5px 5px;
    background-size: 5px 5px;

    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center; 

}

#mesa ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

#mesa ul li img {
    border: 4px solid yellow;
    border-radius: 12px;
    box-shadow: 0 0 10px yellow, 0 0 20px gold; /* brillo */
}

.carrete {
    list-style: none;
    display: inline-block;
    padding: 10px;
}


.carrete img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.resultado {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
}

.tabla-estadisticas {
    margin-top: 10px;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: white;
    border-radius: 5px;
    overflow: hidden;
}

.tabla-estadisticas {
    margin-top: 20px;
    width: 190px;           
    border-collapse: collapse;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 14px;
}

.tabla-estadisticas th,
.tabla-estadisticas td {
    padding: 6px;
    border: 1px solid #666;
    text-align: center;
}

.tabla-estadisticas th {
    background: #F4320B;
}